@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  letter-spacing: -1px;
}

/*  ================== 
    Hamburguer menu 
================== */

.hamburguer {
  cursor: pointer;
  width: 31px;
  height: 18px;
  transition: all 0.25s;
  position: relative;
}

.hamburguer-top,
.hamburguer-middle,
.hamburguer-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
  height: 2px;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburguer-middle {
  transform: translateY(7px);
}

.hamburguer-bottom {
  transform: translateY(14px);
}

.hamburguer.active .hamburguer-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.hamburguer.active .hamburguer-middle {
  display: none;
}

.hamburguer.active .hamburguer-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.nav-links-list {
  transition: transform 2s linear;
  z-index: -1;
  position: relative;
  transform-origin: top;
  transform: translateY(-100px);
}

ul#mobile-nav.active {
  display: flex;
}

/*  ================== 
    Animated Skills 
================== */

.animated-item {
  color: #ffc200;
}

.animated-item {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n + 2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n + 3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*  ================== 
    Slider con arrows
================== */
#slider label {
  cursor: pointer;
  text-decoration: none;
}

/* Mueve el inner a la posicion -X% de acuerdo al input radio o flecha que se clickee  */
#slide1:checked ~ .slide-container #slides .inner {
  transform: translateX(0);
}
#slide2:checked ~ .slide-container #slides .inner {
  transform: translateX(-20%);
}
#slide3:checked ~ .slide-container #slides .inner {
  transform: translateX(-40%);
}
#slide4:checked ~ .slide-container #slides .inner {
  transform: translateX(-60%);
}
#slide5:checked ~ .slide-container #slides .inner {
  transform: translateX(-80%);
}

/* Hace que haya un inner que tenga 4 veces el tamaño original porque hay 4 elementos */
#slides .inner {
  transition: transform 0.25s ease;
  width: 500%;
  display: flex;
}

/* Hace que todos los divs con clase slide ocupen n/100 width total*/
#slides .slide {
  width: 20%;
}

/* 
  Si el input con ID X se checkea, aparecen las flechas correspondientes para
  que cada uno apunte a la imagen siguiente y previa
*/
#slide1:checked ~ .slide-container #arrows-right label:nth-child(2),
#slide2:checked ~ .slide-container #arrows-right label:nth-child(3),
#slide3:checked ~ .slide-container #arrows-right label:nth-child(4),
#slide4:checked ~ .slide-container #arrows-right label:nth-child(5),
#slide5:checked ~ .slide-container #arrows-right label:nth-child(1) {
  display: block;
}
#slide1:checked ~ .slide-container #arrows-left label:nth-child(5),
#slide2:checked ~ .slide-container #arrows-left label:nth-child(1),
#slide3:checked ~ .slide-container #arrows-left label:nth-child(2),
#slide4:checked ~ .slide-container #arrows-left label:nth-child(3),
#slide5:checked ~ .slide-container #arrows-left label:nth-child(4) {
  display: block;
}

/* Muestra en los bullets qué imagen está seleccionada según el ID del input */
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4),
#slide5:checked ~ #bullets label:nth-child(5) {
  background: #444;
}

html.dark #slide1:checked ~ #bullets label:nth-child(1),
html.dark #slide2:checked ~ #bullets label:nth-child(2),
html.dark #slide3:checked ~ #bullets label:nth-child(3),
html.dark #slide4:checked ~ #bullets label:nth-child(4),
html.dark #slide5:checked ~ #bullets label:nth-child(5) {
  background: #ffc200;
}
